html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

/*Body Header*/

#body-header{
    height: 65vh;
    opacity: 0.7;
    background-image: url(images/header_image.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Horizontal Lists*/

.horizontal-list{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.horizontal-list li{
    display: inline-block;
    margin: 30px 8px 8px 0;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s , border-bottom 4s;
}

.nav-menu li a:hover{
    color:lightgray;
    border-bottom: 1px solid white;;
}

.text-center{
    text-align: center;
}

/*Name and Social Icons*/

#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/* Section */

section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: whitesmoke;
}

section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 2.5rem;
    color: #2857a4;
    display:inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/*About Section*/

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin:auto;
    margin-top: -15vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}
#about-para {
    padding: 10px;
    width: 70%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

/*Skills Section*/

.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -2.5em;
    
}

.skill-progress{
    width: 10rem;
    height: 2rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    margin: 1.5rem;
}

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.skill-name{
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    padding-top: 0.3rem;
}

/*Timeline*/

.timeline{
    position: relative;
    width:75%;
    margin-bottom: 2em;
}

.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 45%;
    right: -13%;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    background-color: gray;
    z-index: 1;
}

.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 45%;
    left: -8.8%;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    background-color: gray;
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 70%;
    width: 0;
    border: 3px dashed lightgray;
    top: 13%;
    left: 50%;
}

.timeline-traveller{
    position: sticky;
    top: 27%;
    transform: rotate(90deg);
    z-index: 2;
    color: #2857a4;
}

.timeline-box:nth-child(2n + 1) .timeline-text{
    text-align: end;
 }

/*Education and Achievement Section*/

.grade{
    color: #2857a4;
    font-weight: bold;
    font-size: 1.7rem;
}

.institution{
    margin-top: 0.1rem;
    color: orange;
    font-weight: 500;
    font-size: 1.2rem;
}

.year{
    color: gray;
    font-size: 1.1rem;
}

.about_grade{
    margin-top: 0.7rem;
    color: gray;
    font-size: 1rem;
}

/* Portfolio Section*/

#portfolio-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 2%;
    justify-content: space-around;
}

.project{
    width: 19rem;
    height: 15rem;
    background-color: lightgray;
    margin: 1.5rem;
    position: relative;
}

.project_link img{
    height: 15rem;
    width: 19rem;
}

.project_link img:hover{
    opacity: 0.5;
}

.project_description{
    height: 0;
    position: absolute;
    top: -1.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    transition: opacity 0.5s, visibility 0.5s, height 0.5s;
}

.project:hover .project_description {
    height: 15rem;
    visibility: visible;
    opacity: 1;
    background: rgba(32, 9, 116, 0.5);
  }


/*Contact Section*/

#contact{
    background-image: linear-gradient(45deg, #244792 , #2857a4 ,  #294186 , #33366f , #353165 , #3a2d5c , #3b2d5c);
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

.contact-heading{
    padding: 0;
    margin-bottom: 0;
}

.contact-heading span{
    color: white;
    font-size: 2rem;
    padding-top: 0%;
}

.social-icons{
    margin: 0rem;
    padding: 0%;
    margin-top: -1rem;
}

.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgb(230,196,196,0.3);
}

.mail{
    color: white;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

/*Common Margin Classes */

.mb75px{
    margin-bottom: 75px;
}

/*common color classes*/

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

.mb-blue{
    background-color: #2857a4;
}

.mb-orange{
    background-color: orange;
}

.mb-purple{
    background-color: purple;
}

.mb-green{
    background-color: green;
}

.mb-blue{
    background-color: #2857a4;
}
/*Percentage Classes*/

.eighty-five-percent{
    width: 85%;
    height:inherit;
}

.seventy-five-percent{
    width: 75%;
    height:inherit;
}

.sixty-five-percent{
    width: 65%;
    height:inherit;
}

.fifty-five-percent{
    width: 55%;
    height:inherit;
}

/*Media Queries*/

@media screen and (max-width: 1100px){
    #my-image{
        margin-top: -12vh;
    }

    .timeline-box:nth-child(2n+1)::after{
        right: -13.6%;
    }
    
    .timeline-box:nth-child(2n)::after{
        left: -9.8%;
    }
}

@media screen and (max-width: 800px){
    #my-image{
        margin-top: -15vh;
    }

    .timeline-box:nth-child(2n+1)::after{
        right: -13.8%;
    }
    
    .timeline-box:nth-child(2n)::after{
        left: -10%;
    }
}

@media screen and (max-width: 600px){
    .timeline-divider{
        left: 5%;
    }

    .timeline-box{
        left: 12% !important;
        width: 80%;
    }

    .timeline-box::after{
        left: -12% !important;
    }

    .timeline-box:nth-child(2n + 1) .timeline-text{
        text-align: left;
    }

    html{
        font-size: 13px;
    }
}

@media screen and (max-width: 500px){
    #my-image{
        margin-top: -13vh;
    }

    .timeline-box::after{
        left: -12% !important;
    }

    .timeline-divider{
        border: 2px dashed lightgray;
    }
}

@media screen and (max-width: 400px){
    #my-image{
        margin-top: -11vh;
    }
    html{
        font-size: 11px;
    }
}